/**
 * tape container
 */

.tape {
    display: inline-grid;
    grid-auto-columns: 2em;
    grid-template-rows: 2em 1em;
}


/**
 * tape item
 */

.tape>.symbol {
    grid-row: 1;
    border: 1px solid black;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.tape>.read_symbol {
    background-color: green !important;
}

.tape>.clear_symbol {
    background-color: red !important;
}

.tape>.write_symbol {
    background-color: yellow !important;
}


/**
 * first item (empty)
 */

.tape>.symbol:nth-last-child(2) {
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    border-right: none;
}


/**
 * last item (empty)
 */

.tape>.symbol:nth-child(1) {
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    border-left: none;
}


/**
 * tape head
 */

.tape>.head {
    grid-row: 2;
    margin: auto;
    color: red;
}


/**
 * tape head (empty)
 */

.tape>.empty_head {
    grid-column-start: 1;
    grid-column-end: 3;
}